<h1>Edit Profile</h1>

<%= form_with(model: @user, local: true) do |form| %>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, required: true %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.text_field :role, required: true %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit "Save Changes" %>
  </div>
<% end %>
