<h1>Assigned Game Events</h1>

<% if @participations.any? %>
  <table>
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Date</th>
        <th>Location</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @participations.each do |participation| %>
      <tr>
          <td><%= participation.game_event.event_name %></td>
          <td><%= participation.game_event.event_date.strftime("%d %b %Y %H:%M") %></td>
          <td><%= participation.game_event.location %></td>
          <td><%= participation.status %></td> <!-- Display the status here -->
        <td style="padding: 1rem;">
            <% if participation.status != "cancelled" %>
            <%= link_to 'Cancel', new_game_event_cancellation_path(participation.game_event), class: 'cancel-link' %>
            <%end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You are not assigned to any game events.</p>
<% end %>
