<h1>Edit Game Event: <%= @game_event.event_name %></h1>

<%= form_with(model: @game_event, local: true) do |form| %>
  <div class="field">
    <%= form.label :event_name %>
    <%= form.text_field :event_name %>
  </div>

  <div class="field">
    <%= form.label :event_date %>
    <%= form.datetime_select :event_date %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :coach_id, "Coach" %>
    <%= form.collection_select :coach_id, @coaches, :id, :email, prompt: "Select Coach" %>
  </div>

  <div class="field">
    <%= form.label :user_ids, "Participants" %>
    <%= form.collection_select :user_ids, @users, :id, :email, {}, { multiple: true } %>
  </div>

  <div class="actions">
    <%= form.submit "Update Game Event" %>
  </div>
<% end %>

<%= link_to 'Back', game_event_path(@game_event) %>
