<h1>New Game Event</h1>

<%= form_with(model: @game_event, local: true, html: { style: "margin-bottom: 20px;" }) do |form| %>
  <% if @game_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_event.errors.count, "error") %> prohibited this game_event from being saved:</h2>

      <ul>
        <% @game_event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event_name %>
    <%= form.text_field :event_name, id: :game_event_event_name %>
  </div>

  <div class="field">
    <%= form.label :event_date %>
    <%= form.datetime_select :event_date, id: :game_event_event_date %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :game_event_location %>
  </div>

  <div class="field">
    <%= form.label :coach_id, "Coach" %>
    <%= form.collection_select :coach_id, @coaches, :id, :email, include_blank: false %>
  </div>

    <div class="field">
    <%= form.label :users, "Assign Users" %>
    <%= form.collection_select :user_ids, @users, :id, :email, include_blank: false, multiple: true, size: 10 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', game_events_path%>
