<h1>Game Event: <%= @game_event.event_name %></h1>

<p style="font-family: Arial, sans-serif; font-size: 16px;"><strong>Date:</strong> <%= @game_event.event_date.strftime("%d %b %Y %H:%M") %></p>
<p style="font-family: Arial, sans-serif; font-size: 16px;"><strong>Location:</strong> <%= @game_event.location %></p>
<p style="font-family: Arial, sans-serif; font-size: 16px;"><strong>Coach:</strong> <%= @game_event.coach&.email || 'No coach assigned' %></p>
<p style="font-family: Arial, sans-serif; font-size: 16px;"><strong>Participations:</strong>
  <% if @game_event.participations.any? %>
    <ul style="list-style-type: none; padding: 0;">
      <% @game_event.participations.each do |participant| %>
        <li style="padding: 5px; background-color: #f0f0f0; border: 1px solid #ddd; margin-bottom: 5px;"><%= participant.user.email %></li>
      <% end %>
    </ul>
  <% else %>
    No participations yet.
  <% end %>
</p>

<%= link_to 'Edit', edit_game_event_path(@game_event) %> |
<%= link_to 'Back', game_events_path %> |
<%= link_to 'Delete', @game_event, method: :delete, data: { confirm: 'Are you sure?' } %>
